name: rummi_assistant
description: "A Rummikub assistant app that helps you play the game."
publish_to: 'none'

version: 1.2.0+7

environment:
  sdk: '>=3.10.7'
  flutter: '>=3.38.7'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # Dart
  basic_utils: ^5.8.2
  collection: ^1.19.1
  freezed_annotation: ^3.1.0
  get_it: ^9.2.0
  logger: ^2.6.2
  rxdart: ^0.28.0

  # UI
  flutter_platform_widgets: ^10.0.1
  flutter_riverpod: ^3.1.0
  flutter_svg: ^2.2.3
  flutter_native_splash: ^2.4.7
  go_router: ^17.0.1
  modal_bottom_sheet: ^3.0.0
  intl: ^0.20.2
  auto_size_text: ^3.0.0

  # Service
  package_info_plus: ^9.0.0
  just_audio: ^0.10.5
  url_launcher: ^6.3.2

  # Store
  shared_preferences: ^2.5.4
  path_provider: ^2.1.5
  path: ^1.9.1
  drift: ^2.30.1
  sqlite3_flutter_libs: ^0.5.41

dependency_overrides:
    analyzer: ^9.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  freezed: ^3.2.4
  build_runner: ^2.10.5
  flutter_gen_runner: ^5.12.0
  mocktail: ^1.0.4
  drift_dev: ^2.30.1

  # Lint
  riverpod_lint: ^3.1.0
  very_good_analysis: ^10.0.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/icons/
    - assets/sounds/
  fonts:
    - family: LuckiestGuy
      fonts:
        - asset: assets/fonts/LuckiestGuy-Regular.ttf
    - family: Lato
      fonts:
        - asset: assets/fonts/Lato-Light.ttf
          weight: 300
        - asset: assets/fonts/Lato-Regular.ttf
          weight: 400
        - asset: assets/fonts/Lato-Bold.ttf
          weight: 700

flutter_gen:
  output: lib/core/util/assets/

  integrations:
    flutter_svg: true